doctype
html(lang='en')
    head
        meta(charset='utf-8')
        include ../head.pug
    body
        .flex.h-screen.justify-center.items-center.bg-gradient-to-r.from-gray-500.to-gray-200
            .flex.justify-center
                .flex.flex-col.rounded-lg.bg-white.shadow-lg
                    h5.w-full.h-96.object-cover.rounded-t-lg.text-center.text-xl.pt-5.h-auto.underline.underline-offset-4 ZenConnect
                    .p-6.flex.flex-col.justify-start
                        span
                            h2.text-gray-900.text-2xl.font-medium.mb-2 Login
                        form.contents(action="/auth/login" method="post")
                            h6.text-gray-500.mb-2 Username
                            input.text-gray-700.text-base.mb-4.pl-2.border-2.border-slate-400.rounded(type="text", id="zenUname", name="zenUname")
                            h6.text-gray-500.mb-2 Password
                            input.text-gray-700.text-base.mb-4.pl-2.border-2.border-slate-400.rounded(type="password", id="zenPass", name="zenPass")
                            span.flex.justify-end
                                button.py-3.mt-2.text-gray-900.text-md.text-end.inline-block.bg-sky-100.rounded-full.px-3.py-1.text-sm.font-semibold(class="hover:bg-sky-200 hover:drop-shadow-lg") Connect Now
                            a.py-3.text-end.mt-3(href="/auth/register")
                                span
                                    button.py-3.text-gray-900.text-md.text-end.inline-block.bg-green-100.rounded-full.px-3.py-1.text-sm.font-semibold(type="button" class="hover:bg-green-200 hover:drop-shadow-lg") New User? Register