footer 
    nav
        ul 
            li 
                a(href="#") Privacy 
            li 
                a(href="#") About us 
            li 
                a(href="#") Contact us
    p copyright @ #{new Date().getYear()}