doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Zen-CoNNect
    body
        div(class="p-5")
            h1() Welcome to home.
            a(href="/auth/login")
                button(type='button') Login